

.Header{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
}
@media screen and (max-width: 800px) {
    .Header{
        margin-bottom: 0%;
    }
}